<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link href="styles/shared.css" rel="stylesheet" />
    <link href="styles/signup.css" rel="stylesheet" />
    <link href="styles/showpwd.css" rel="stylesheet" />

    <script src="scripts/showpwd.js" defer></script>

    <title>Online mobile shop</title>
  </head>
  <body>
    <header>
      <h1>Online Mobile Shop</h1>
    </header>
    <main>
      <section id="config_form">
        <div id="config">
          <form action="/changepwd" method="POST">
            <a id="back_arrow" href="/index"> &larr;</a>
            <div id="currentPwd">
              <label for="currentUserPwd">Current Password </label>
              <input
                type="password"
                name="currentUserPwd"
                id="currentUserPwd"
                class="pwd inputdata"
                required
              />
              <div class="show_pwd_container">
                <input
                  type="checkbox"
                  onclick="showCurrentPwd()"
                  id="showPwd"
                  class="show_pwd"
                /><label for="showPwd">Show Password</label>
              </div>
            </div>
            <div id="newPwd">
              <label for="newUserPwd">New Password </label>
              <input
                type="password"
                name="newUserPwd"
                id="newUserPwd"
                class="pwd inputdata"
                required
              />
              <div class="show_pwd_container">
                <input
                  type="checkbox"
                  onclick="showNewPwd()"
                  id="showPwd"
                  class="show_pwd"
                /><label for="showPwd">Show Password</label>
              </div>
            </div>
            <div id="confirmNewPwd">
              <label for="confirmUserPwd">Confirm Password</label>
              <input
                type="password"
                name="confirmUserpwd"
                id="confirmUserPwd"
                class="pwd inputdata"
                required
              />
              <div class="show_pwd_container">
                <input
                  type="checkbox"
                  onclick="showConfirmNewPwd()"
                  id="showPwd"
                  class="show_pwd"
                /><label for="showPwd">Show Password</label>
              </div>
            </div>
            <div id="formbtn">
              <button>Change Password</button>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
