.overlay {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
  
  }

.full_spec_overlay_style {
    background-color: var(--primary_color);
    color: var(--secondary_color);
    text-align: center;
    max-width: 50rem;
    margin: 15rem auto;
    padding: 2rem 3rem;
    border-radius: 50px;
    position: relative;
    top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  
  .full_spec_overlay_style .back_arrow_style{
    cursor: pointer;
    color: var(--secondary_color);
  }
  
  .full_spec_overlay_style img {
    max-height: 15rem;
    max-width: 15rem;
  }
  
  .full_spec_overlay_style .btns {
    margin: 1rem;
    width: 7rem;
  }
  
  .backdrop_style {
    background-color: rgba(0, 0, 0, 0.22);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    scroll-behavior: unset;
    display: none;
  }